.footer {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: auto;
  margin-top: 5rem;
  grid-row-gap: 1rem;
  padding-block: 4.5rem;
}
.footer-first-links,
.footer-second-links {
  grid-column: 3/24;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}
.footer-third-links {
  grid-column: 3/24;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
}

.footer-third-links > li:nth-child(1) {
  margin-top: 0.5rem;
  position: relative;
}

.footer-third-links > li:nth-child(1):after {
  content: url("/icons/right-arrow-white.svg");
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -30%;
}

.third-links-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 500px) {
  .footer {
    align-items: flex-start;
  }
  .footer-first-links {
    grid-column: 3/12;
  }
  .footer-second-links {
    grid-column: 13/22;
  }

  .footer-third-links {
    margin-top: 2rem;
    grid-column: 2/21;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 5rem;
  }
  
  .footer-third-links > li:nth-child(1) {
    border: 1px solid hsl(0, 0%, 50%);
    border-radius: 40px;
    padding: .5em 1.5em;
    margin-top: 0;
}
.footer-third-links > li:nth-child(1):after {
    right: 5px;
  }
  .third-links-icons {
    gap: 2rem;
  }
}

@media screen and (min-width: 800px) {
  .footer-first-links {
    grid-column: 3/9;
  }
  .footer-second-links {
    grid-column: 10/16;

  }
  .footer-third-links {
    
    align-self: flex-end;
    grid-column: 20/26;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 5rem;
  }
  .third-links-icons {
    gap: 2.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .footer-third-links {
    
    align-self: flex-end;
    grid-column: 18/25;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 5rem;
  }
}