@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

html,
body {
  padding: 0;
  margin: 0;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* colors */
  --clr-black: #000;
  --clr-white: #fff;
  --clr-blue: #6c83ff;
  --clr-beige: #ffa98e;


  /* font-families */
  --ff-primary: "Bellefair", serif;
  --ff-secondary: "Barlow", sans-serif;

  /* font-sizes */
  --fs-h1: 2.5rem;
  --fs-h2: 1.25rem;
  --fs-body: 1rem;
  --fs-links: .875rem;
}

@media (min-width: 600px) {
  :root {
    --fs-h1: 2.75rem;
    --fs-h2: 1.25rem;
  }
}
@media (min-width: 800px) {
  :root {
    --fs-h1: 2.9rem;
    --fs-h2: 1.5rem;
  }
}

@media (min-width: 1000px) {
  :root {
    --fs-h1: 3.2rem;
  }
}
@media (min-width: 1200px) {
  :root {
    --fs-h1: 3.5rem;
    --fs-h2: 1.6rem;
  }
}
@media (min-width: 1500px) {
  :root {
    --fs-h1: 3.7rem;
    --fs-h2: 1.7rem;
  }
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,

figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

ul {
  list-style: none;
}

li,
ul {
  padding: 0;
  margin: 0;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


a {
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

/* Typography */

h1 {
  line-height: 1;
  letter-spacing: -0.01;
  font-size: var(--fs-h1);
  font-family: var(--ff-primary);
}

h2 {
  line-height: 1.5;
  letter-spacing: 0.1px;
  font-size: var(--fs-h2);
  font-family: var(--ff-secondary);
}

p,
li {
  line-height: 23px;
  letter-spacing: 0.8px;
  font-size: var(--fs-body);
  font-family: var(--ff-secondary);
  color: var(--clr-white)
}

body {
  font-family: var(--ff-primary);
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--clr-black);
}

.btn {
  padding: .4em 1em;
  border-radius: 22px;
  border: none;
  font-size: 1rem;
  color: var(--clr-black);
  background-color: var(--clr-white);
  align-self: flex-start;
  transition: opacity .2s ease-in-out, background .4s ease-in-out, color .4s ease-in-out;
  letter-spacing: .8px;
  line-height: 1.71;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: .5em;
  min-width: 150px;
  max-width: 150px;
}

.btn:after {
  display: block;
  content: url("/icons/right-arrow.svg");
  width: 20px;
  height: 20px;
}
@media screen and (min-width:500px) {
  .btn {
    align-self: unset;
  }
}